@import '~antd/dist/antd.css';


.IndvidualProperty{
  width: 25%
}
.ant-card-extra {
  float:initial;
  font-weight: 500;
  font-size: 20px;
}

.ant-card-head-wrapper {
  text-align: center !important;
  display:block  
}

.HouseDetailsSection{
  width: 58%;
  float: left;
}

th.ant-descriptions-item-label {
    font-weight: 600;
    font-size: initial;
}
section.MainBodySection {
    display: flex;

}
section.FilterGridClass {
    margin-top: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
}

section.PropertyGridClass {

    margin: 0px 10px;
    display: flex;
    flex-flow: row wrap;
}

@media only screen and (max-width: 1600px) {
  
  .IndvidualProperty {
    width: 45%
  }

}

.CardClass{
 width: 50%;
 margin: 0px auto;
 margin-top: 5% !important;
}

.ptags{
  padding : 5px;
}
